/*************************************************** TAILWIND SECTION ***************************************************/


.light {
    background-color: #fff;
    color: #111;
    transition: background-color;
    transition-duration: 300ms;
}

/*************************************************** GENERIC SECTION ***************************************************/

body {
    --sb-track-color: #fff;
    --sb-thumb-color: #0172ea;
    --sb-size: 10px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

/*************************************************** SCROLLBAR SECTION ***************************************************/

body::-webkit-scrollbar {
    width: var(--sb-size) 
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}